<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Dicons | Compra Online</title> 
        
        
        <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel="stylesheet">
        
        <link href="/css/normalize.css" rel="stylesheet">
        
        <link href="/css/home.css" rel="stylesheet">
        
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css2?family=Amiko&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
       
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        </head>          

        <body>
   
            <!-- Contenido del Header -->
            <%- include ('./partials/header') %>
           
    <main>
    <!-- Contenido del Slide con Bootstrap -->
    
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/slider/Slider Dicons -tene al mundo en tus manos.png" class="d-block w-100" alt="Dicons_Decoracion_Construccion">
          </div>
          <div class="carousel-item">
            <img src="/img/slider/Slider_23_Dicons_Mega_Ofertas_30_Off.png" class="d-block w-100" alt="Ofertas _herramientas">
          </div>
          <div class="carousel-item">
            <img src="/img/slider/Slider_24_Dicons_Todas_las _herramientas.png" class="d-block w-100" alt="herramientas_diseño">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

        <!-- Contenido de Basado en tu última visita -->
        <div class="container-main">
            <div class="container-producto">
                <p class="titulo">Basados en tu última visita</p>
                <!-- Show the "visited" products -->
                <% for(let p of productos) { %> 
                    <div class="card-producto-hidden">
                        <section class="card-producto">
                            <a href="/products/detail/<%= p.id %>">
                                <figure>
                                    <img src="/img/products/<%= p.image %>" alt="imagen de producto"></img>
                                </figure>
                                <article class="detalle-producto">
                                    <i class="fa-sharp fa-solid fa-truck"></i>
                                    <h3 class="precio-producto">$<%= p.price %></h3>
                                    <p class="descuento-producto"><%= p.discount %>% OFF</p>
                                    <p class="nombre-producto"><%= p.name %></p>
                                </article>
                            </a>
                        </section>
                    </div>
                <% } %> 
            </div>
        </div>

        <!-- Contenido de Ofertas del Día -->
        <div class="container-main">
            <div class="container-producto">
                <p class="titulo">Ofertas del Día</p>
                <!-- Show the "Offerts" products -->
                <% for(let p of productos) { %> 
                    <div class="card-producto-hidden">
                        <section class="card-producto">
                            <a href="/products/detail/<%= p.id %>">
                                <figure>
                                    <img src="/img/products/<%= p.image %>" alt="imagen de producto"></img>
                                </figure>
                                <article class="detalle-producto">
                                    <i class="fa-sharp fa-solid fa-truck"></i>
                                    <h3 class="precio-producto">$<%= p.price %></h3>
                                    <p class="descuento-producto"><%= p.discount %>% OFF</p>
                                    <p class="nombre-producto"><%= p.name %></p>
                                </article>
                            </a>
                        </section>
                    </div>
                <% } %> 
            </div>
        </div>
    </main>
      
    <!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
    
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    
    </body>


</html>
