<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include ('./partials/head') %>

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/producto.css" rel="stylesheet" >
   
    <title > Producto Dicons</title> 
</head>

<body>
    
  <!-- Contenido del Header -->
  <%- include ('./partials/header') %>

  <div id="producto-entero">
    <div class="fotos-producto">
      <img class="fotos-izq" src="/img/products/<%= productoBuscado.image %>">
      <img class="fotos-izq" src="/img/products/noImage.jpg">
      <img class="fotos-izq" src="/img/products/noImage.jpg">
      <img class="fotos-izq" src="/img/products/noImage.jpg">
    </div>
    <div class="fotos-producto-grande">
      <img class="fotos-derecha" src="/img/products/<%= productoBuscado.image %>">
    </div>
  

    <div class="nombre-producto">
      <div class="x-nombre">
        <h2 class="nombre-productos"><%= productoBuscado.name %></h2>
     </div>
    
    <h3 class="Descripcion"><%= productoBuscado.description %></h3>
    
    <div id="precio-descuento">

    <h2 class="precio-producto-descuento">$<%= productoBuscado.price %></h2>
    <h2 class="barra"> / </h2>
    <h2 class="descuento"><%= productoBuscado.discount %>%</h2>
    
    </div>
     <h2 class="precio-producto">$<%= ( ( (100-productoBuscado.discount) * productoBuscado.price ) / 100  ) %></h2>
     <select id="cantidad-productos"class="form-select" aria-label="Default select example">
      <option selected> Cantidad:</option>
      <option value="1">1 unidad</option>
      <option value="2">2 unidades</option>
      <option value="3">3 unidades</option>
     </select>


     <!-- boton comprar-->
     <div class="div-boton-comprar">
      <a href="/"><button id="boton-comprar"class="w3-button w3-black w3-round-small">Comprar ahora </button></a>
     </div>


     <!-- boton carrito-->
     <div class="div-boton-carrito">
      <a href="/"><button id="boton-carrito"class="w3-button w3-gray w3-round-small">Agregar al carrito </button></a>
     </div>


     <!-- boton editar y eliminar-->
  <div class="editar-eliminar">
      
    <div class="boton-eliminar">
      <a href="/products/edit/<%= productoBuscado.id %>"><button id="boton-editar-eliminar"class="w3-button w3-black w3-round-small">Editar Producto <i class="fa-solid fa-chevron-right"></i></button></a>
    </div>

    <div class="boton-editar">
      <form action="/products/<%= productoBuscado.id %>?_method=DELETE" method="POST">
        <button type="submit" id="boton-editar-eliminar" class="w3-button w3-black w3-round-small">Eliminar producto <i  class="fa-solid fa-chevron-right"></i></button>
      </form>
    </div>
  </div>


    <!-- boton compartit y cuotas-->
     <div class="compartir-cuotas">
      <div>
     <a href="x"><i id="icono-compartir" class="fa-sharp fa-solid fa-circle-nodes"></i></a> 
    </div>


    <!-- boton calcular cuotas-->
    <div class="calcular-cuotas">
      <a href="a">Calcular cuotas</a>
    </div>
    </div>


    <!-- boton retiro y envio-->
    <div class="retiro">
      <div class="boton-retiro">
      <a href="/"><button id="boton-envio-retiro"class="w3-button w3-white w3-round-small">Retiro en tienda <i class="fa-solid fa-chevron-right"></i></button></a>
    </div>


    <!-- boton envio-->
    <div class="boton-envio">
    <a href="/"><button id="boton-envio-retiro"class="w3-button w3-white w3-round-small">Envio a domicilio  <i  class="fa-solid fa-chevron-right"></i></button></a>
  </div>
    </div>


    <!-- boton comprar-->
    <div class="div-boton-comprar">
      <a href="/"><button id="boton-medios-pago"class="w3-button w3-white w3-round-small">Medios de pago    <i class="fa-solid fa-chevron-right"></i></button></a>
     </div>


     <!-- boton condiciones-->
     
     <a href="/"><h4 class="bn35">Condiciones para cambios y devoluciones</h4></a>
     <br>
  </div>
 
    <div id="div-boton-x-producto">
    <button id="boton-x-producto"class="w3-button w3-black w3-round-small"><i class="fa-solid fa-x"></i></button>
  </div>
    <br>
     </div>
     <br>
  <br>


  <!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
   </body>

