         <!DOCTYPE html>
<html lang="en">

    <head>

        <%- include ('./partials/head') %>
    
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/home.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/forms.css" rel="stylesheet">
        <link rel="stylesheet" href="sweetalert2.min.css">
        
        <title >Dicons | Compra Online</title> 
        
    </head>

    <body>
        <!-- Contenido del Header -->
       <%- include ('./partials/header') %>

    <main>
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Formulario de creación de productos</h2>
                </div>
            </div>
            <div class="errores">
                <ul></ul>
            </div>
            <div class="col-12">
                <form action="create" method="POST" enctype="multipart/form-data" id="FormCreate" class="needs-validation">
                    <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <input type="text" id="name" name="name" placeholder="Ej: Camiseta de la Selección" class="form-control" required>
                            <div class="valid-feedback">¡Ok, válido!</div>
                            <div class="invalid-feedback">Complete el campo</div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="text" id="price" name="price" placeholder="Ej: 5235" class="form-control" id="precio-create" required>
                            <div class="valid-feedback">¡Ok, válido!</div>
                            <div class="invalid-feedback">Complete el campo</div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="discount" class="form-label">Descuento:</label>
                            <input type="text" id="discount" name="discount" placeholder="Ej: 35" class="form-input">
                            <div class="valid-feedback">¡Ok, válido!</div>
                            <div class="invalid-feedback">Complete el campo</div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input" required>
                                <% for(let cat of categorias) { %> 
                                    <option value="<%= cat.id %>">
                                        <%= cat.name %>
                                    </option>
                                <% } %> 
                            </select>
                            <div class="valid-feedback">¡Ok, válido!</div>
                            <div class="invalid-feedback">Seleccioná una categoría</div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="product-img" class="form-label">Cargá una imagen:</label><br>
                            <input type="file" id="product-img" name="product-img" required></input>
                            <div class="valid-feedback">¡Ok, imagen cargada!</div>
                            <div class="invalid-feedback">Subí una imagen</div>
                        </div>
                        <div class="col-12" id="title-description">
                            <label for="description" class="form-label" id="descuento-create">Descripción:</label>
                            <textarea name="description" id="description" class="form-input" required></textarea>
                            <div class="valid-feedback">¡Ok, válido!</div>
                            <div class="invalid-feedback">Complete el campo</div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="buy-now-button">Guardar producto</button>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>
    </main>
      
   <!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../service/events.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
    <script>
        (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
    </script>
    <script src="/src/middlewares/validacionesCreateForm.js"></script>
        
    
    </body>


</html>
